@import 'tailwindcss';

@theme {
    --color-primary: var(--theme-color-primary);
}

@layer base {
    :root {
        --theme-color-primary: #ffffff;
        color: var(--color-primary);
    }
}

.background-grainy {
    background-image: url('/background.jpg');
    background-position: center;
    background-size: cover;
}
