@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

.background-grainy {
    background-image: url('/background.jpg');
    background-position: center;
    background-size: cover;
}